// Header
.navbar {
  background: #2196f3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logoText {
    color: #fff !important;
  }
}

.media-section {
  img {
    width: 100%;
  }
}

.explanation {
  line-height: 2;
}

// Footer
.footerNavbar {
  font-size: 13px;

  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoText {
    font-size: 13px;
  }
}
